.event-highlighted {
    fill: black !important;
    stroke: grey; 
    stroke-width: 1;
}

.event-type-vis {
    width: 100%;
    padding-left: 50px;
}

.selected-sim {
    stroke: silver; 
    stroke-width: 2;
}

.header button {
    padding: 20px 40px;
}

.header > * + * {
    margin-top: 20px;
}

.header button.match {
    background: silver;
    border: 1px solid black;
}

.sliders {
    display: flex;
}

.sliders > * + * {
    margin-left: 20px;
}

.sliders .slider {
    width: min-content;
    display: flex;
    flex-direction: column;
}

.slider > div:first-child {
    white-space: nowrap;
}

.match-actions {
    display: flex;
}

.match-actions > * + * {
    margin-left: 20px;
}

.ordering-methods {
    display: flex;
    flex-direction: column;
}

.wrap-time-range-2 {
    width: 200px;
}

.tnw-parameters {
    display: none;
}

.tnw-parameter {
    max-width: 50px;
}
#input-delete {
    position: sticky; 
    bottom: 0;
    max-height: 10%;
    margin: 0px;
    width: 100%;
    padding: 0;

}
.dark-green {
    background-color: green;
    font-weight: bold;
    text-decoration: underline;
    /* font-size: 20px; */
}
.dark-red {
    background-color: red;
    font-weight: bold;
    /* font-size: 20px; */
}
.green {
    background-color: #66ffb2;
}
.red {
    background-color: #ffaaaa;
}
.inline-block {
    display: inline-block;
}
#input {
    display: inline-block;
    padding: 2px;
    margin: 2px;
}
#input > p {
    display: inline-block;
    background-color: #66ffb2;
}
#delete {
    display: inline-block;
    padding: 2px;
    margin: 2px;
}
#delete > p {
    display: inline-block;
    background-color: #ffaaaa;
}
table {
    /* table-layout: fixed ; */
    width: 40% ;
    border-collapse: collapse;
    align-items: center;
}
td {
    border: solid rgb(0, 0, 0);
    padding: 0px;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 0px;
    height: 15px
}
#gap-input {
    width: 50px;
}